<h1>{{ sayHello() }} version {{ version }}</h1>

<!-- <ul>
  <li><span>Nom:</span> {{ personne.nom }}</li>
  <li><span>Prenom:</span> {{ personne.prenom }}</li>
</ul> -->

<!-- {{ personne | json }} -->

<!-- <ul>
  <li *ngFor="let elt of tab; let i = index; let isfirst = first; let isLast = last">
    {{ i }} : {{ elt }} : {{ isfirst }} : {{ isLast }}
  </li>
</ul> -->

<!-- <ul>
  <ng-container *ngFor="let elt of tab;">
    <li *ngIf="elt % 2 != 0; else sinon">
      {{ elt }} est Impair
    </li>
    <ng-template #sinon>
      <li>
        {{ elt }} est pair
      </li>
    </ng-template>
  </ng-container>
</ul> -->

<ng-container *ngFor="let note of notes">
  <div [ngSwitch]="true" >
    <ng-container *ngSwitchCase="note < 10">
      <span [ngStyle]="{background: 'red'}">échec</span>
    </ng-container>
    <ng-container *ngSwitchCase="note >= 10 && note < 13">
      <span [ngStyle]="{background: 'orange'}">moyen</span>
    </ng-container>
    <ng-container *ngSwitchCase="note >= 13 && note < 15">
      <span [ngStyle]="{background: 'yellow'}">bien</span>
    </ng-container>
    <ng-container *ngSwitchCase="note >= 15">
      <span [ngStyle]="{background: 'green'}">trés bien</span>
    </ng-container>
  </div>
</ng-container>

